@tailwind base;
@tailwind components;
@tailwind utilities;

nextjs-portal {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  padding: 40px 20px;
  z-index: 1;
  background-image: url("https://test.create.diagnal.com/images/nav_bar.png");
  box-shadow: 0 1px 20px 10px black;

  h1 {
    position: absolute;
    left: 3em;
  }
}

.content-section {
  position: relative;
  top: 4.5em;
}

.scroll-to-top {
  z-index: 1;
  cursor: pointer;
  color: white;
}
